@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>@ViewBag.Title</h1>

    <div>
        <h3>Ahmad Zarour</h3>
        <p>
            I have knowledge in programming and hardware with a great passion for technology, 
            discovered my passion for programming during my studies but I first got the chance 
            to work with IT and hardware, I could not get enough and started learning programming 
            languages myself. I love the combination of both the creative and logical problem-solving 
            part of coding. I am a fast learner, adaptable to new concepts and technology. 
        </p>
    </div>
</body>
</html>
