

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1 class=" homePage">@ViewBag.Title</h1>
    <div>
        <p> Weclome TO First Page on MVC</p>
    <br />
    <p> Learning ASP.NET MVC is so exciting.</p>
    </div>
</body>
</html>


